<!AlloBobo html>
<html>
<head>
	<meta charset="utf-8" />
    <title>AlloBobo</title> 
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
	<link rel="stylesheet" href= "AlloBobo.css">
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
		
	</head>

<body>
 
<!-- Titre 1 -->
<center> <div class="box">
	
	<h1 class="title" >Bienvenue sur AlloBobo !</h1> 
</div> </center> 


<br />
<!--images_fleur-->

<img class="img1-1" src="fleur_endroit.png"  >
<img class="img2-1" src="fleur_envers.png" >

<!-- button -->
<center>
	<div class="block">
	   <button class="button is-outlined"> <a href="/Qui nous sommes">Qui nous sommes</a> </button>
		  <button class="button is-outlined"> <a href="/Nos solutions">Nos solutions</a>  </button> 	
		  <button class="button is-outlined"> <a href="/Nos offres">Nos offres</a>  </button> 
		  <button class="button is-outlined"> <a href="/F.A.Q">F.A.Q</a>  </button> 
		<button class="button is-outlined"> <a href="/Contact">Contact</a>  </button>
		<button class="button is-outlined"> <a href="/index">Accueil</a>  </button>
	</div>
	   </center>  

<br>
<br>
<br> 
<fieldset>
	
	<div class="box31">

	
			<center><b><legend class="fp">Formulaire d'inscription</legend></b></center>
			<!-- La balise Table pour formater l'affichage du formulaire -->
			<br>
			<center><table>
				<tr>
					
				
					<td><b><label>Nom</label></b></td>
					<td><input type="text" placeholder="saisir votre nom"/> </td>
				
				</tr>
				
				<tr>
					<br>
					<td><b><label>Prenom</label></b></td>
					<td><input type="text" placeholder="saisir votre prenom"/></td>
					
				</tr>
				
				<tr>
			
					<td><b>Sexe</b></td>
					<!-- Les deux inputs radio doivent avoir le meme nom -->
					<td class="sexe"> 
						Masculin <input type="radio" name="sexe" value="M" checked="checked">
						Féminin <input type="radio" name="sexe" value="F">
					</td>
				
				</tr>
				
				<tr>
					
					<td><b><label>Numero téléphone</label></b></td>
					<td><input type="text" placeholder="saisir votre numero"/> </td>
					
				</tr>
				<tr>
					
					<td><b><label>Email</label></b></td>
					<td><input type="email" placeholder="saisir votre Email"/></td>
					
				</tr>
				
				<tr>
					
					<td><b><label>Mot de passe</label></b></td>
					<td><input type="text" placeholder="saisir votre mot de passe"/> </td>
					
				</tr>
			
				<tr>
					
					<td colspan="2"><input class=inscription type="submit" value="Envoyer"/> </td>
				</tr>
			
	
			</table></center>
	
	</div>

</fieldset>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center>  
<div> 
			
			
	<button type="submit" class="unstyled-button"> <a href="/RGPD">RGPD</a> </p> </button>
	<button type="submit" class="unstyled-button"> <a href="/À propos de AlloBobo">À propos de AlloBobo</a> </p> </button>
	<button type="submit" class="unstyled-button"> <a href="/Pour les professionnels de santé">Pour les professionnels de santé</a> </p> </button> 
	<button type="submit" class="unstyled-button"> <a href="/Condition générale d'utilisation">Condition générale d'utilisation </p> </button>
			
				
</div>
</center> 
				   
			
				
<br />
<br />
<br />
<br />
			
<!--logos-->
			
<a href="https://www.instagram.com/%22%22%3E"><img class="img6" src="insta.jpeg"  alt="insta"></a>
<a href="https://www.facebook.com/%22%22%3E" ><img  class="img6"src="facebook.jpg"  alt="facebook" ></a>
<a href="https://fr.linkedin.com/%22%22%3E"><img   class="img6"src="linkedin.jpeg"  alt="linkedin"></a>
<a href="https://fr.linkedin.com/%22%22%3E"><img   class="img6"src="Twitter.png"  alt="Twitter" ></a>       
			

</body>
</html>